{% extends 'base.html' %}
{% block title %}electronics{% endblock title %}
{%block body%}
{% comment %} <script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.419/build/spline-viewer.js"></script>
<spline-viewer url="https://prod.spline.design/VHuVqIKol5cOEJdu/scene.splinecode"></spline-viewer> {% endcomment %}

<script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.420/build/spline-viewer.js"></script>
<spline-viewer url="https://prod.spline.design/9zCUnvSUOZJXDSKU/scene.splinecode"></spline-viewer>
{%endblock%}